*{
   
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    background-color: rgb(245, 229, 242);
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
    overflow-x: hidden;
}
.section{
    padding:20px 9% ;   
}
header{
    
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(255, 254, 255);
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0,0,0,.1) ;

    
}

header .logo{
    font-size: 30px;
    color: #333;
    font-weight: bolder;
    margin-left: 50px;
   
}
header .logo span{
    color: var(--pink);
}
header .navbar a{
    font-size: 20px;
    padding:0 15px;
    color:#000000;
    font-weight: bolder;
}
header .navbar a:hover{
    color:#e91881;
}
header .icons a{
    font-size: 30px;
    color: #333;
    margin-left: 15px;
}
header .icons a:hover{
    color: var(---pink);
}
header #toggler{
    display: none;
}
header.bars{
    font-size: 30px;
    color: #333;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    border: 10px solid rgba(0,0,0,3);
    display: none;
}

.bars{
    left:25px;
    position: absolute;
}
.heart{
    position:relative;
    width: 35px;
    height: 32px;
    right: 83px;
    
}

.heart:before,.heart:after{
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 28px;
    background: rgb(17, 5, 9);
    border-radius: 18px 18px 0 0;
    transform: rotate(-45deg);
    transform-origin:0 100% ;
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.cart{
    right: 100px;
    position: absolute;
    mix-blend-mode: multiply;
}
.user{
    right:35px;
    position: absolute;
    mix-blend-mode: multiply;
    
}
.search{
    right:250px;
    position: absolute;
    mix-blend-mode: multiply;
    
}
.plogo{
    left: 85px;
    position: absolute;
   
    
}

.page{
    display:flex;
    align-items: center;
    margin-top:130px;
    align-content: center;
    margin-left: 20px;
    
}

.category-menu {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
    padding: 25px;
    border: 3px solid #e64294; 
    border-radius: 25px; 
    background-color: white; 
    position: relative;
}

.category-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: bold;
}
.category-item:not(:last-child){
    border-right: 3px solid #e64294;
    padding-right: 20px ;
    
}

.category-item img {
    width: 60px; 
    height: 60px;
    margin-bottom: 5px; 
}
.floral{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 20px 0;
    

}
.floral1{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 20px 0;
    

}
.floral2{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 20px 0;
    

}
.slide{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    max-width: 100%;
}
#slideshow {
    overflow:hidden;
    height: 571px;
    width: 100%;
    margin: 15px auto;
    max-width: 1400px;
    position: relative;

}
.slide {
    flex: 0 0 auto;
    height: 571px;
    width: 1300px;
}
.slide-wrapper {
    display: flex;
    width: calc(1300px * 5);
    animation: slide 15s ease-in-out 0.5s infinite;
}
.slide img{
    width: 100%;
    height: auto;
}

@keyframes slide {

    0%,13.33% {
        margin-left: 0px;
    }

    16.66%,30%{
        margin-left: -1300px;
    }
    33.33%,46.66% {
        margin-left:-2600px ;
    }
    50%,63.33%{
        margin-left: -3900px;
    }
    66.66%,100%{
        margin-left: 0px;
    }

    
}

.flowers{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
}
.menu {
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: center; 
    align-items:center; 
    gap: 50px; 
    padding: 20px;
    border-radius: 25px; 
    background-color: white;
    border: 3px solid #e64294; 
}

.item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: bold;
}
.item img {
    width: 120px; 
    height: 120px;
    margin-bottom: 5px; 
}
.bs{
    
    margin-top: 0px;
    padding-top: 20px;
    position: absolute;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    border-radius: 15px;
    padding: 15px;
   
    background-color: white;
  
    
}
.b{
    
    font-size: 30px;
    font-style: bold;
    color: #a50362;
}
.f{
    font-size: 15px;
    font-style: normal;
    color: #5f5a5a;
}

.si{
    
    margin-top: 0px;
    padding-top: 20px;
    position: absolute;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
  
    
}
.sif{
    
    font-size: 30px;
    font-style: bold;
    color: #a50362;
}
.l{
    font-size: 15px;
    font-style: normal;
    color: #5f5a5a;
}
.love{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
}
.language {
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: center; 
    align-items:center; 
    gap: 73px; 
    padding: 20px;
    border-radius: 25px; 
    background-color: white;
    border: 3px solid #e64294; 
}

.ll {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-style: bold;
}
.ll img {
    width: 220px; 
    height: 220px;
    margin-bottom: 5px; 
}
.eo{
    
    margin-top: 0px;
    padding-top: 20px;
    position: absolute;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
  
    
}
.eof{
    
    font-size: 30px;
    font-style: bold;
    color: #a50362;
}
.a{
    font-size: 15px;
    font-style: normal;
    color: #5f5a5a;
}


.card-container {
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: 1px solid #e64294; 
    margin-top: 90px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card p {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif  ;
    margin-top: 10px;
    
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 80px;
}
.image{
    width: 100%;
    width: 75%;

}
.image img{
    width: 100%;
    border-radius: 15px;
}

.container1 {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center; 
    align-items:center; 
    gap: 50px; 
    padding: 0px;
    border-radius: 25px; 
    background-color: white;
    border: 3px solid #e64294; 
    width: 1400px;
    height: 200px;
    margin-left: 50px;
   transform: translateY(240px);
}

.box {
    width: 200px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 3px solid rgb(159, 117, 13); 
    margin-top: 10px;
}

.box img {
    width: 100%;
    border-radius: 10px;
}
.box p {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif  ;
    margin-top: 10px;
    
}
.df{
    
    margin-top: 150px;
    padding-top: 20px;
    position: absolute;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
    margin-left: 500px;

}
  
    

.d{
    
    font-size: 30px;
    font-style: bold;
    color: #a50362;
}
.flo{
    font-size: 15px;
    font-style: normal;
    color: #5f5a5a;
}
.about-container {
    margin-top: 320px;
    padding-top: 30px;
    position: absolute;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    width:1500px;
    height: 550px;
    background-color: #e6cbe0;
    border: #9c3096;
    border-radius: 25px;
    margin-left: 15px;
}
.ab {
    color: #4b1848;
    padding: 20px;
    font-size: 50px;
}
.abo{
    color: #6f4c6b;
    line-height: 1.6;
    font-size: 15px;
    
}
.st{
     color: #4b1848;   
     font-weight: bolder;
}
.ba{
    color: #6f4c6b;
    line-height: 1.6;
    font-size: 15px;
}
.c{
    color: #6f4c6b;
    line-height: 1.6;
    font-size: 15px;
}
.db{
    color: #6f4c6b;
    line-height: 1.6;
    font-size: 15px;
}
.ac{
    margin: auto;
    padding: 10px;
}
.ift p{
    color: #4b1848;
}
.ift{
    margin: auto;
    padding: 40px;
}
.fo{
    margin: auto;
    padding: 50px;
}
.fc{
    color: #341f32;
    line-height: 1.6;
    font-size: 25px;

}
.ma{
    padding: 10px;
    margin: auto;
}
.footer{
    margin-top: 970px;
    padding-top: 30px;
    position: absolute;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    width:1500px;
    height: 480px;
    background-color: #e6cbe0;
    border: #9c3096;
    border-radius: 25px;
    margin-left: 15px;
   
    padding: 40px;
}
.copy{
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #624d5c;
    margin-top: 1500px;

}
.m{
    color: #000000;
    line-height: 1.3;
    font-size: 15px;
}
.pro {
    display: flex;
    gap: 20px;
}

.product {
    width: 200px;
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: 1px solid #e64294; 
    margin-top: 100px;
    margin: 10px;
    transform: translateY(80px);
}
   


.product img {
    width: 100%;
    border-radius: 10px;
}

.product p {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif  ;
    margin-top: 10px;
    
}
.pt button{
    background-color: #cb74a0;
    border-radius: 10px;
    border: #4b1848;
    box-shadow: #333 3px;
}
.eoo{
    
    margin-top: 0px;
    padding-top: 20px;
    position: absolute;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    border-radius: 15px;
    padding: 15px;
    background-color: white;
  
    
}
.eoff{
    
    font-size: 30px;
    font-style: bold;
    color: #a50362;
}
.aa{
    font-size: 15px;
    font-style: normal;
    color: #5f5a5a;
}
.floral22{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 20px 0;
    

}
